<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:collection.anki2</property>
        <property name="hibernate.dialect">com.rogueai.janki.core.persistence.dialect.SQLiteDialect</property>
        
        <mapping class="com.rogueai.janki.core.persistence.jpa.entity.Card"/>
        <mapping class="com.rogueai.janki.core.persistence.jpa.entity.Collection"/>
        <mapping class="com.rogueai.janki.core.persistence.jpa.entity.Grave"/>
        <mapping class="com.rogueai.janki.core.persistence.jpa.entity.GraveId"/>
        <mapping class="com.rogueai.janki.core.persistence.jpa.entity.Note"/>
        <mapping class="com.rogueai.janki.core.persistence.jpa.entity.Revlog"/>
        
    </session-factory>
</hibernate-configuration>
